@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Polo Tech - Sistema de Gerenciamento de Estoque</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
            </div>
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav pt-3 ">
                    <button class="btn btn-light w-100 text-left text-dark rounded p-1" href="index.html"> <i class="pl-2 pr-3 fa fa-sign-out"></i>Nova Saida </button>
                    <h3 class="menu-title p-0 mt-3" style="font-size:10px;">Menu</h3>
                    <li class="dropdown mt-0">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-home pr-3"></i>Ínicio</a>
                    </li>
                    <li class="menu-item-has-children dropdown mt-0">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-plus pr-3"></i>Cadastro</a>
                        <ul class="sub-menu children dropdown-menu p-0 ml-2">
                            <li><i class="fa fa-caret-right"></i><a href="ui-buttons.html">Fornecedor</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="ui-buttons.html">Funcionário</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="ui-badges.html">Marca</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="ui-tabs.html">Produto</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-hdd-o pr-3"></i>Estoque</a>
                        <ul class="sub-menu children dropdown-menu p-0 ml-2">
                            <li><i class="fa fa-caret-right small"></i><a href="ui-buttons.html">Entrada Produto</a></li>
                            <li><i class="fa fa-caret-right small"></i><a href="ui-buttons.html">SaÍda Produto</a></li>
                            <li><i class="fa fa-caret-right small"></i><a href="ui-buttons.html">Posição de Estoque</a></li>
                            <li><i class="fa fa-caret-right small"></i><a href="ui-badges.html">Inventario</a></li>
                        </ul>
                    </li>
                    <h3 class="menu-title p-0 mt-3" style="font-size:10px;">Gerencial</h3>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user pr-3"></i>Cadastro</a>
                        <ul class="sub-menu children dropdown-menu p-0 ml-2">
                            <li><i class="fa fa-caret-right"></i><a href="ui-buttons.html">Usuario</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user pr-3"></i>Relatórios</a>
                        <ul class="sub-menu children dropdown-menu p-0 ml-2">
                            <li><i class="fa fa-caret-right"></i><a href="ui-buttons.html">Relatório 1</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="ui-buttons.html">Relatório 2</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="ui-buttons.html">Relatório 3</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="ui-buttons.html">Relatório 4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </aside>
    <div id="right-panel" class="right-panel">
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7 mt-1">
                    Gerenciamento de Estoque
                </div>
                <div class="col-sm-5">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <div class="user-area dropdown float-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="user-avatar rounded p-1" src="images/user.png" alt="User Avatar">
                                </a>
                                <div class="user-menu dropdown-menu border rounded border-dark w-50">
                                    <buttom class="btn btn-sm nav-link" type="submit"><i class="fa fa-power-off"></i> Sair</buttom>
                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </header>
        <div class="content mt-3">
            @RenderBody()
        </div>
    </div>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - PoloTech_Estoque</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PoloTech_Estoque</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - PoloTech_Estoque - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
    </html>*@
